In [1]:
import pandas as pd
import numpy as np
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import SVC
#from sklearn.ensemble import AdaBoostClassifier

In [2]:
corona_tweets_df = pd.read_csv('C:\\Users\\subhr\\Desktop\\Covid_twitter\\Corona_NLP_train.csv')

In [3]:
corona_tweets_df.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative

In [4]:
corona_tweets_df.isnull().sum()

UserName            0
ScreenName          0
Location         8590
TweetAt             0
OriginalTweet       0
Sentiment           0
dtype: int64

In [5]:
corona_tweets_df['Sentiment'].value_counts()

Positive              11422
Negative               9917
Neutral                7713
Extremely Positive     6624
Extremely Negative     5481
Name: Sentiment, dtype: int64

In [6]:
corona_tweets_df.drop(['UserName','ScreenName','Location','TweetAt'],axis=1,inplace=True)

In [7]:
corona_tweets_df.head()

                                       OriginalTweet           Sentiment
0  @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...             Neutral
1  advice Talk to your neighbours family to excha...            Positive
2  Coronavirus Australia: Woolworths to give elde...            Positive
3  My food stock is not the only one which is emp...            Positive
4  Me, ready to go at supermarket during the #COV...  Extremely Negative

In [8]:
X = corona_tweets_df['OriginalTweet']
y_train = corona_tweets_df['Sentiment']

In [9]:
#pipe1 = Pipeline([('tfidf',TfidfVectorizer()),('svc_clf',SVC())])
#pipe2 = Pipeline([('cf',CountVectorizer()),('tftr',TfidfTransformer()),('adaboost_clf',AdaBoostClassifier())])

In [10]:
#pipe1.fit(X_train,y_train)
#pipe2.fit(X_train,y_train)

In [11]:
tfidf = TfidfVectorizer()

In [12]:
X_train = tfidf.fit_transform(X)

In [13]:
X_train.shape

(41157, 78998)

In [14]:
clf_svc = SVC()

In [15]:
clf_svc.fit(X_train,y_train)

SVC()

In [19]:
Corona_test_df = pd.read_csv('C:\\Users\\subhr\\Desktop\\Covid_twitter\\Corona_NLP_test.csv')

In [20]:
Corona_test_df.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,1,44953,NYC,02-03-2020,TRENDING: New Yorkers encounter empty supermar...,Extremely Negative
1,2,44954,"Seattle, WA",02-03-2020,When I couldn't find hand sanitizer at Fred Me...,Positive
2,3,44955,NaN,02-03-2020,Find out how you can protect yourself and love...,Extremely Positive
3,4,44956,Chicagoland,02-03-2020,#Panic buying hits #NewYork City as anxious sh...,Negative
4,5,44957,"Melbourne, Victoria",03-03-2020,#toiletpaper #dunnypaper #coronavirus #coronav...,Neutral

In [21]:
Corona_test_df['Sentiment'].value_counts()

Negative              1041
Positive               947
Neutral                619
Extremely Positive     599
Extremely Negative     592
Name: Sentiment, dtype: int64

In [22]:
x = Corona_test_df['OriginalTweet']
y_test = Corona_test_df['Sentiment']

In [23]:
#tfidf_test = TfidfVectorizer()

In [24]:
x_test = tfidf.transform(x)

In [25]:
x_test.shape

(3798, 78998)

In [26]:
pred = clf_svc.predict(x_test)

In [27]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [28]:
confusion_matrix(pred,y_test)

array([[260,   3,  70,   5,  21],
       [  2, 286,  14,   4,  56],
       [278,  24, 629, 107, 141],
       [ 11,   9,  94, 385,  64],
       [ 41, 277, 234, 118, 665]], dtype=int64)

In [30]:
print(classification_report(pred,y_test))

                    precision    recall  f1-score   support

Extremely Negative       0.44      0.72      0.55       359
Extremely Positive       0.48      0.79      0.60       362
          Negative       0.60      0.53      0.57      1179
           Neutral       0.62      0.68      0.65       563
          Positive       0.70      0.50      0.58      1335

          accuracy                           0.59      3798
         macro avg       0.57      0.65      0.59      3798
      weighted avg       0.61      0.59      0.59      3798

In [31]:
accuracy_score(pred,y_test)

0.5858346498156924